<header class="header">
    <div class="container">
        <div class="header__inner">
            <h1 (click)="goHome()">Tienda-king</h1>
            <div class="header__menu menu">
                <div class="menu__inner">
                    <button (click)="openCart()" class="menu__btn">
                        Carrito
                    </button>
                    <button (click)="goToAbout()" class="menu__btn">
                        Acerca de
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>